{% extends "goodnet/base.html" %}
{% block extraheaders %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.23.custom.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jasny-bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>	
	<script src="{{ STATIC_URL }}js/jquery.ui.datepicker-he.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
	<script>
	jQuery(document).ready(function($){
		
		$(function() {
			$.datepicker.setDefaults($.datepicker.regional['he']);
			$( "#id_datebirth" ).datepicker({
				changeMonth: true,
				changeYear: true
			});

		});
	});
	</script>
{% endblock %}

{% block content %}
<div id="content">
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
<div class="circle-small">3</div>
<h3 class="form-title">להשלים את הפרופיל שלך</h3>
<div style="clear:both;"></div>
<fieldset>
<div id="avatar-upload1">
	<div class="fileupload fileupload-new" data-provides="fileupload">
	{% if form.avatar.value %}
	<div class="fileupload-preview thumbnail">
		<img src="{{ form.avatar.value.url }}" width="120" height="120" />
	</div>
	{% else %}
	<div class="fileupload-new thumbnail" id="avatar-upload2">
		העלה תמונה פרופיל<br/><span class="help_text">מקסימום 120x120 פיקסלים</span>
	</div>
	{% endif %}
  	<div>
    		<span class="btn btn-file"><img src="{{ STATIC_URL }}img/inputyellow-next.png" class="fileupload-new"/><img src="{{ STATIC_URL }}img/inputyellow-next.png" class="fileupload-exists"/><input type="file" id="id_avatar" name="avatar"></span>

    		<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">להסיר</a>
  	</div>
	</div>
</div>


<div class="form-field">
	<label for="name">שם מלא:</label> {{ form.name }}
	{% if form.name.errors %}{{ form.name.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="datebirth">{% if form.profile_type.value == 'org' %}נוסד ב:{% else %}תאריך לידה:{% endif %}</label> {{ form.datebirth }}
	{% if form.datebirth.errors %}{{ form.datebirth.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="phone">מספר טלפון:</label> {{ form.phone }}
	{% if form.phone.errors %}{{ form.phone.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="website">אתר אינטרנט:</label> {{ form.website }}
	{% if form.website.errors %}{{ form.website.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="facebook">פרופיל בפייסבוק:</label> {{ form.facebook }}
	{% if form.facebook.errors %}{{ form.facebook.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="desc">תאור:</label> {{ form.desc }}
	{% if form.desc.errors %}{{ form.desc.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="categories">{% if form.profile_type.value == "org" %}תחומי הפעילות:{% else %}תחומי העניין:{% endif %}</label> {{ form.categories }}
	{% if form.categories.errors %}{{ form.categories.errors }}{% endif %}
</div>
<div class="form-field">
	<label for="area">מיקומים של פעילות:</label> {{ form.area }}
	{% if form.area.errors %}{{ form.area.errors }}{% endif %}
</div>
{{ form.profile_type.value }}
<input type="hidden" name="user" value="{{ form.user.value }}" />
<input type="hidden" name="profile_type" value="{{ form.profile_type.value }}" />
{% if form.errors %} {{ form.errors }} {% endif %}
<input type="submit" class="regsubmit" value="שמירה" />
</fieldset>
</form>
</div>
{% endblock %}
