h1 { margin-top:0; padding-top:0; }
#avatar {max-width:140px; max-height:140px;}
#post-left ul {padding:0; margin:0; list-style-type:none;}
#post-left ul li {margin-bottom:5px;}
#post-left .lbl { font-weight:bold; color:#FBBD09; }

#profile_like { background-color:#FFF5D8; color:#FBBD09; text-align:center; padding:0; border:1px solid #FBBD09; }
#profile_like:hover { background-color:#FBBD09; color:#FFF5D8; }
#profile_like a, #profile_like a:visited { display:block; padding:5px 0; text-decoration:none; color:#FBBD09; font-size:11px; font-weight:bold; }
#profile_like a:hover { text-decoration:none; color:#FFF5D8; }

#profile_actions { margin:0; padding:0 0 30px 0; list-style-type:none; }
#profile_actions li { float:right; padding-left:10px; margin-left:10px; margin-top:3px; border-left:1px solid #999; }
#profile_actions li:last-child { border:none; margin:0; }

#photo-bar { overflow:hidden; margin:30px 0; } 
#photo-bar-inner { float:right; width:580px; overflow:hidden; }
#photo-bar-ul { position:relative; right:-110px; list-style-type:none; margin:0px; padding:0px; width:9999px; }
#photo-bar-ul li { float:right; padding:0 5px; }
#photo-bar-ul li img { .margin-bottom:-4px; }
#photo-bar #right-scroll, #photo-bar #left-scroll { float:right; line-height:100px; }


/* sidebar */

#testify { margin-bottom:40px; }
#testify a, #testify a:hover, #testify a:visited { text-decoration:none; color:#000; }
#testify_pic { float:right; max-height:80px; max-width:80px; padding:0 0 30px 20px; }
#testify h4 { padding:0; margin:0; }



/* bottom area */

.ui-tabs { position: relative; zoom: 1; } 
.ui-tabs .ui-tabs-nav { float:right; width:200px; margin: 0; padding: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; position: relative; top: 1px; margin: 0 0 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-nav li a:visited { font-weight:bold; display:block; background:#FFF5D8; color:#FBBD09; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a { background:#FBBD09; color:#FFF5D8; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { float:left; width:420px; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


.profile-result, .search-result { clear:both; border-bottom:1px solid #FFF5D8; padding-bottom:20px; margin-bottom:20px; } 
.profile-result:last-child, .search-result:last-child { border-bottom:none; }
.result-author { line-height:34px; margin-bottom:5px; } .result-author img { height:34px; float:right; padding-left:10px; }
.result-image { float:right; max-width:150px; max-height:150px; padding:5px 0 20px 10px; }
h3.result-title { margin:0; padding:0; font-size:16px !important; } .result-title a, .result-title a:hover, .result-title a:visited { color:#000; text-decoration:none; }
.result-desc { margin-bottom:10px !important; }

#tabs-5 label, #tabs-5 #id_name, #tabs-5 #id_email, #tabs-5 #id_url { display:none; }
