{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--script type="text/javascript">
			$(document).ready(function () {
				$('.form li').children().focus(function () {
					$('select, input[type="text"], textarea').removeClass("active");
					$(this).addClass("active");
					$(".form li").removeClass("active");
					$(this).parent().addClass("active");
				});

				$('.form li').children().blur(function () {
					$('select, input[type="text"], input[type="password"], textarea').removeClass("active");
					$("form li").removeClass("active");
				});
			}); 
		</script-->
	</head> 

	<body>		
		<div class="main">
			<div class="step-bg step-{{ step }}-bg">
				&nbsp;
			</div>	
			<div class="form">	
				<div class="inner-form">
					<form action="" method="post">{% csrf_token %}	
							<ul class="fields">
								{% for field in form %}
									<li class="field">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}										
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
										{% if field.help_text %}
											<div class="help-text">
												{{ field.help_text }}
											</div>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
							<div class="form-submit">
								<input type="image" src="/static/styles/gdd-next.png" />
							</div>
							<div class="clear"></div>
							<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
							{{ previous_fields|safe }}			
					</form>
				</div>
				<div class="footer">
					
				</div>
			</div>
		</div>
	</body>
</html>