{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#id_2-paint_several_0").click(function() {
					$(".yes").show();
					$(".no").hide();
				});
				$("#id_2-paint_several_1").click(function() {
					$(".yes").hide();
					$(".no").show();
				});
			}); 
		</script>
	</head>

	<body>		
		<div class="main">
			<div class="info">
				<h2>הרשמה לפרויקטים</h2>
			</div>
			<div class="step-bg step-{{ step }}-bg">
				&nbsp;
			</div>	
			<div class="form">	
				<div class="inner-form">
					<form action="" method="post">{% csrf_token %}	
							<ul class="fields"> 
								{% for field in form.general_fields %}
									<li class="field{% if field.errors %} error{% endif %}">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}											
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
									</li>
								{% endfor %}
							</ul>
							<ul class="fields no">
								<li class="field">
									<label><b>צביעת קירות וחללים</b></label>
									<div class="widget field-meta">
										ענו במידה ותצבעו קירות
									</div>
								</li>
								{% for field in form.wall_fields %}
									<li class="field{% if field.errors %} error{% endif %}">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}											
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
									</li>
								{% endfor %}
								<li class="field">
									<label><b>צביעת חלונות ודלתות</b></label>
									<div class="widget field-meta">
										ענו במידה ואתם ותצבעו חלונות ו/או דלתות
									</div>
								</li>
								{% for field in form.windows_doors_fields %}
									<li class="field{% if field.errors %} error{% endif %}">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}											
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
									</li>
								{% endfor %}
								<li class="field{% if field.errors %} error{% endif %}">
									<label><b>צביעת מעקות</b></label>
									<div class="widget field-meta">
										ענו במידה ואתם מעוניינים בצביעת מעקות
									</div>
									<div class="clear"></div>
								</li>			
								{% for field in form.railing_fields %}
									<li class="field">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}											
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
									</li>
								{% endfor %}
								<li class="field{% if field.errors %} error{% endif %}">
									<label><b>צביעת סורגים</b></label>
									<div class="widget field-meta">
										ענו במידה ואתם מעוניינים בצביעת סורגים
									</div>
									<div class="clear"></div>
								</li>			
								{% for field in form.grate_fields %}
									<li class="field">
										{% if field.field.required %}
											<span class="required">•</span>
										{% endif %}
										{{ field.label_tag }}											
										<div class="widget field-{{ field.field.widget|widget_type|lower }}">
											{{ field }}
										</div>
										{{ field.errors }}
									</li>
								{% endfor %}
							</ul>
							<div class="yes" style="padding:15px">
							
							</div>
							<div class="form-submit">
								<input type="image" src="/static/styles/gdd-next.png" />
							</div>
							<div class="clear"></div>
							<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
							{{ previous_fields|safe }}			
					</form>
				</div>
				<div class="footer">
					
				</div>
			</div>
		</div>
	</body>
</html>