{% extends "goodnet/base.html" %}
{% load comments %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/post.css">
{% endblock %}

{% block content %}
<img src="{{ STATIC_URL }}img/left-yellowarrow.png" class="headline-arrow" alt="" />
<h2>{{ post }}</h2>
{% if post.initiative.ongoing %}
<div id="one-time">
	<img src="{{ STATIC_URL }}img/one-time.png" alt="" /> <p>אירוע חד פעמי</p>
</div>
{% endif %}
מאת: {{ post.author.get_profile.name }} &nbsp; | &nbsp; {{ post.cdate|date:"d.m.Y" }}
<br style="clear:both;" /><br/>

<div id="post-right">
	<img src="{% if post.image %}{{ post.image.url }}{% else %}{{ STATIC_URL }}img/no-pic.jpg{% endif %}" />
</div>
<div id="post-left">
	<ul>
	{% if post.category %}<li><span class="text-lbl">תחום:</span> {{ post.category }}</li>{% else %}{% endif %}
	{% if post.event.date %}<li><span class="text-lbl">מועד:</span> {{ post.event.date|date:"l, j F Y, H:i" }}</li>{% else %}{% endif %}
	{% if post.initiative.start_date %}<li><span class="text-lbl">תאריך:</span> {{ post.initiative.start_date|date:"l, j F Y, H:i" }} &nbsp; &nbsp; <span class="text-lbl">עד תאריך:</span> {{ post.initiative.end_date|date:"l, j F Y, H:i" }}</li>{% else %}{% endif %}
	{% if post.event.location or post.initiative.location %}<li><span class="text-lbl">מקום:</span>{% if post.event.address or post.initiative.address %} {{ post.event.address }}{{ post.initiative.address }},{% else %}{% endif %} {{ post.event.location }}{{ post.initiative.location }}<br/></li>{% else %}{% endif %}
	</ul>
	<div class="desc">
	{{ post.desc|linebreaks }}
	{% if post.desc|length > 30 %}
	<div id="desc-more-less">
		<a name="desc-more" class="desc-more">קרא עוד</a>
		<a name="desc-less" class="desc-less">קרא פחות</a>
	</div>
	{% else %}
	{% endif %}
	</div>


</div><br style="clear:both;" />

<div id="action-bar">

	{% if user.is_authenticated %}
		{% if post.event.location or post.initiative.location %}
			{% if user.get_profile in post.our_helpers.distinct %}
				<span class="alert">את/ה הצטרף!</span> &nbsp; &nbsp;
			{% else %}
				<a href="{% url goodnet.views.join_cause post.id %}"><img src="{{ STATIC_URL }}img/join.png" alt="" /></a> &nbsp;
			{% endif %}
		{% else %}
		{% endif %}	
		{% if user.get_profile in post.liked.distinct %}
			<span class="alert">נמצא במועדפים שלך</span>	
		{% else %}
			<img src="{{ STATIC_URL }}img/left-yellowarrow.png" alt="" /> <a href="{% url goodnet.views.bookmark post.id %}">הוסיפו למועדפים</a> &nbsp;
		{% endif %}
	{% else %}
		{% if post.event.location or post.initiative.location %}
			<a href="{% url goodnet.views.loginrequest %}"><img src="{{ STATIC_URL }}img/join.png" alt="" /></a> &nbsp;
		{% else %}
		{% endif %}	
			<img src="{{ STATIC_URL }}img/left-yellowarrow.png" alt="" /> <a href="{% url goodnet.views.loginrequest %}">הוסיפו למועדפים</a> &nbsp;
	{% endif %}
	<img src="{{ STATIC_URL }}img/left-yellowarrow.png" alt="" /> <a href="mailto:?subject=חדש%20מרשת%20טובה&body=www.ruachtova.org.il{% url goodnet.views.post post.id %}">שילחו לחבר</a> &nbsp;
	<a href="http://www.facebook.com/sharer.php?u=http://www.ruachtova.org.il{% url goodnet.views.post post.id %}"><img src="{{ STATIC_URL }}img/action-facebook.png" alt="" /></a>
	<a href="http://twitter.com/share?text=חדש%20מרשת%20טובה&url=http://www.ruachtova.org.il{% url goodnet.views.post post.id %}"><img src="{{ STATIC_URL }}img/action-twitter.png" alt="" /></a> שתפו

	<span class="inappropriate"><a href="" class="inappropriate">תוכן פוגעני</a></span>

</div>

{% get_comment_count for post as comment_count %}

<h3>{% if comment_count > 0 %}{{ comment_count }} תגובות{% else %}אין תגובות{% endif %}</h3>

{% get_comment_list for post as comment_list %}

{% for comment in comment_list %}
	<div class="comment" id="c{{ comment.id }}">
		<p><b>{{ comment.person_name|escape }}</b></p>
		{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
	</div>
{% endfor %}

<p>Post a comment</p>
{% render_comment_form for post %}



{% endblock %}

{% block sidebar %}

<div id="post_owner">
<h2>{{ post.author.get_profile.name }}</h2>
<div id="post_owner_right">
	<img id="avatar" src="
	{% if post.author.get_profile.avatar %} {{ post.author.get_profile.avatar.url }} {% else %} /static/img/default-avatar.jpg{% endif %}
	"/>
</div>
<div id="post_owner_left">
	<ul>
	{% if post.author.get_profile.categories.exists %}
		<li><span class="lbl">תחומים:</span>
		{% for category in post.author.get_profile.categories.all %}
			{{ category }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</li>
	{% else %}
	{% endif %}
	{% if post.author.get_profile.datebirth %}
		{% if post.author.get_profile.profile_type.value == 'o' %}
			<li><span class="lbl">נוסד ב:</span> {{ post.author.get_profile.datebirth }}</li>
		{% else %}
			<li><span class="lbl">תאריך לידה:</span> {{ post.author.get_profile.datebirth }}</li>
		{% endif %}
	{% else %}
	{% endif %}
	
	{% if post.author.get_profile.areas.exists %}
		<li><span class="lbl">אזורים פעילות:</span>
		{% for area in post.author.get_profile.areas.all %}
			{{ area }}
		{% endfor %}</li>
	{% else %}
	{% endif %}
	{% if post.author.get_profile.phone %}<li><span class="lbl">טלפון:</span> {{ post.author.get_profile.phone }}</li>{% else %}{% endif %}	
	</ul>
</div><div style="clear:both;"></div><br/>
	<div class="desc">
	{{ post.author.get_profile.desc|truncatewords:25 }}
	<ul id="profile_actions">
		{% if post.author.get_profile.user.email %}<li><a href="mailto:{{ post.author.get_profile.user.email }}">צרו קשר</a></li>{% else %}{% endif %} 
		{% if post.author.get_profile.website %}
			{% if post.author.get_profile.profile_type.value == 'o' %}
				&nbsp; | &nbsp; <li><a href="{{ post.author.get_profile.website }}">אתר העמותה</a></li> 
			{% else %}
				&nbsp; | &nbsp; <li><a href="{{ post.author.get_profile.website }}">אתר אינטרנט אישית</a></li>
			{% endif %}
		{% else %}
		{% endif %}
	</ul>
	</div>
	{% if post.author.get_profile.id %}
		<div id="prof_link"><a href="{% url goodnet.views.profile post.author.get_profile.id %}">לעמוד הפרופיל</a></div>
	{% else %}
	{% endif %}
</div>

<div id="friends">
	<div id="friends_head">חברים</div>
	<ul>
		{% for friend in post.our_helpers.all|slice:":6" %}
			<li><img src="{% if friend.avatar %}{{ friend.avatar.url }}{% else %}/static/img/default-avatar.jpg{% endif %}" /></li>
		{% endfor %}
	</ul><div style="clear:both;"></div>
</div>
{{ block.super }}
{% endblock %}
