{% extends "goodnet_base.html" %}
{% load comments %}
{% get_comment_count for post as comment_count %}

{% block content %}
<div id="content">
<h2>{{ post }}</h2>
<p>מעת: {{ post.author.first_name }}</p>
<p>{{ post.location }}</p>
<p>{{ post.category }}</p>
<img src="{{ post.post_image.url }}" />

<p><a href="{{ post.get_absolute_url }}#comments">{{ comment_count }} Comment{{ comment_count|pluralize }}</a></p>

{% get_comment_list for post as comment_list %}

<p id="comments">Comments</p>
{% for comment in comment_list %}
	<div class="comment" id="c{{ comment.id }}">
		<a id="c{{ comment.id }}" href="#c{{ comment.id }}">#{{forloop.counter }}</a>
		<p><b>{{ comment.person_name|escape }}</b></p>
		{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
	</div>
{% endfor %}

<p>Post a comment</p>
{% render_comment_form for post %}
</div>

<div id="sidebar">

</div>

{% endblock %}
