{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#prelude-link").click(function() {
					$("#prelude").slideToggle();
				});
				
				$("#city-form-link").click(function() {
					$("#city-form").slideToggle();
				});
			}); 
		</script>
		<style>
			
		</style>
	</head>

	<body>		
		<div class="main index">
			<div class="info">
				<div class="title gddlogo-bg" style="float:right;">
					<h2 class="red">טבלת פרויקטים עירוניים - <b>{{ city.title }}</b></h2>
					<h3 class="yellow">יום מעשים טובים 2012</h3>
				</div>
				<div class="add" style="float:left;padding:10px 0;">
					&nbsp;
				</div>
				<div style="clear:both"></div>
			</div>
			<div class="navbar">
				<div style="float:right;padding:12px 0 0;">
					&nbsp;
				</div>
				<div style="float:left;padding:10px 0;">
					&nbsp;
				</div>
				<div style="clear:both"></div>
			</div>		
			<div id="prelude" class="prelude">
				<div class="text">
					<h4>רישום הפרויקטים ליישובכם הסתיים</h4>
					<p>
						אנו מודים לכם על נכונותכם להשתתף ביום מעשים טובים השישי.
					</p>
					<p>
						תהליך קליטת הפרויקטים עבור יישובכם הסתיים. הפרויקטים שהזנתם נקלטו למערכת ויעברו לטיפול צוות "יום מעשים טובים". בשבועות הקרובים נחשב את הציוד שידרש לכם על מנת להוציאם אל הפועל, ולאחר מכן נעביר אליכם את רשימת הציוד שנוכל לספק לכם לצורך קיום הפרויקטים, ונתאם את העברתו אליכם.
					</p>
					<p>
						לנוחיותכם, להלן מוצגת רשימת כל הפרויקטים שהזנתם למערכת. עם זה, מעתה ואילך לא תוכלו להזין או לשנות את הפרויקטים העירוניים שלכם באמצעות הטבלה היישובית,. עם זה, אנו זמינים בכל עת ולכן צורך שיעלה בטלפון 1-700-505-202.
					</p>
					<p>
						צוות "יום מעשים טובים"<br />
						עמותת "רוח טובה".
					</p>
				</div>					
			</div>
			
			<div class="city-index-wrapper">				
				<ul class="city-index">
					{% for project in projects %}
						<li {% if project.is_data_missing %}class="data-missing"{% endif %}>
							<h4>{{ forloop.counter }}.{{ project.title }} - {{ project.field.title }} - {{ project.fname }} {{ project.lname }}</h4>
							<h5>מספר המתנדבים שיגוייס על-ידיכם: {{ project.volunteer_num}}</h5>
							{% if project.is_volunteer_external %}
							<h5>מספר המתנדבים שיגוייסו על-ידי רוח טובה: {{ project.volunteer_num_external}}</h5>
							<h5>שעות הפעילות: {{ project.from_time}} - {{ projects.to_time }}</h5>
							{% endif %}
							<h5>תחום הפעילות: {{ project.field.title}}</h5>
							<p>
								<strong class="red">שם איש הקשר</strong> {{ project.fname }} {{ project.lname }} <br />
								<strong class="red">מספר הטלפון</strong> {{ project.phone_1 }} <br /> 
								<strong class="red">כתובת דוא"ל</strong> {{ project.email }} 
							</p>
							<p>
								<strong class="red">תיאור הפרויקט</strong> {{ project.description }}
							</p>
							<p>
								<strong class="red">הערות</strong> {{ project.comments }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>
