{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--script type="text/javascript">
			$(document).ready(function () {
				$('.form li').children().focus(function () {
					$('select, input[type="text"], textarea').removeClass("active");
					$(this).addClass("active");
					$(".form li").removeClass("active");
					$(this).parent().addClass("active");
				});

				$('.form li').children().blur(function () {
					$('select, input[type="text"], input[type="password"], textarea').removeClass("active");
					$("form li").removeClass("active");
				});
			}); 
		</script-->
	</head>

	<body>		
		<div class="main dfc">
			<div class="form">	
				<div class="inner-form">
					<div class="field" style="padding:10px;">
						<p>
							תודה ששיתפתם אותנו בבעיה אותה בחרתם לשנות במסגרת יוצרים שינוי.
						</p>
						<p>
							זה הזמן להתחיל לתכנן את שלבי הפתרון, להחליט מי האנשים אותם תרצו לשתף, לאילו משאבים אתם נזקקים, מי יעשה מה וכו'.
						</p>
						<p>
							את הפרויקטים יש להוציא לפועל בשבוע מעשים טובים בין ה-18-23/3/2012, לתעד ולהעלות אותם לאתר כדי לשתף את כל העולם ולהשתתף באתגר.
						</p>
						<p>
							לקראת מועד זה ישלח לאיש הקשר שלכם קישור לטופס הפרויקט, בו תוכלו לספר את סיפור השינוי על פרטיו ולהעלות את תיעודו.
						</p>
						<p style="text-align:center">
							אז צאו לדרך....
						</p>
						<p style="text-align:center">
							בהצלחה וזכרו "אתם יכולים....."
						</p>
						<div style="clear:both"></div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
