{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--script type="text/javascript">
			$(document).ready(function () {
				$('.form li').children().focus(function () {
					$('select, input[type="text"], textarea').removeClass("active");
					$(this).addClass("active");
					$(".form li").removeClass("active");
					$(this).parent().addClass("active");
				});

				$('.form li').children().blur(function () {
					$('select, input[type="text"], input[type="password"], textarea').removeClass("active");
					$("form li").removeClass("active");
				});
			}); 
		</script-->
	</head>

	<body>		
		<div class="main dfc">
			<div class="form">	
				<div class="inner-form">
					<div class="field" style="padding:10px;">
						<p>
							איזה כיף שהצטרפתם לאתגר. אנחנו מקווים כי עברתם תהליך חשוב ומשמעותי ועכשיו גם שאר העולם יוכל לצפות, להתרשם ולקבל השראה מהשינוי שיצרתם.						
						</p>
						<p>
							חבר השופטים יעבור על כל הפרויקטים וב-1.6.2012 יוכרזו הזוכים והודעה תפורסם באתר הבית שלנו ותופץ לאיש הקשר שלכם.
						</p>
						<p>
							תעודת השתתפות תשלח לכל אחד ואחד מהמשתתפים בשבועות הקרובים.
						</p>
						<p>
							תודה שהצטרפת ולקחתם חלק בהפיכת העולם למקום טוב יותר. <br />
							צוות יוצרים שינוי.
						</p>
						<div style="clear:both"></div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
