{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/gdd-form.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#prelude-link").click(function() {
					$("#prelude").slideToggle();
				});
				
				$("#city-form-link").click(function() {
					$("#city-form").slideToggle();
				});
			}); 
		</script>
		<style>
			
		</style>
	</head>

	<body>		
		<div class="main index">
			<div class="info">
				<div class="title gddlogo-bg" style="float:right;">
					<h2 class="red">הרשמה ליום מעשים טובים - תל אביב - יפו</h2>
					<h3 class="yellow">יום מעשים טובים 2012</h3>
				</div>
				<div class="add" style="float:left;padding:10px 0;">
					<img style="height:52px" src="/static/styles/talogo.png" />
				</div>
				<div style="clear:both"></div>
			</div>
			<div id="prelude" class="prelude">
				<div class="text">
					<p>
						ההרשמה ליום מעשים טובים השישי עבור היישוב הסתיימה. אנו מודים לכם לכם על השתתפותכם.
					</p>
					<!--p>
						אנו מודים לכם על השתתפותכם ב"יום מעשים טובים" השישי.
					</p>
					<p>
						אנא בחרו את המסגרת בה תרצו להשתתף ביום זה, על-ידי לחיצה על התיאור ההולם אתכם ביותר:
					<p>
					<ul class="select">
						<li>
							<a class="inner-link red yellow-hover" href="http://web.good-deeds-day.org/gdd-city-group/3fc1f055-5dd4-4617-a215-133bdbf33c07/0">
								אנו <b>קבוצה של מתנדבים</b>, המעוניינים <b>לקבל הצעות מצוות "יום מעשים טובים"</b> באשר למקומות בהם ניתן להתנדב, ולבחור מתוכן מקום התנדבות.
							</a>
						</li>
						<li>
							<a class="inner-link red yellow-hover" href="http://web.good-deeds-day.org/gdd-city-project-f/3fc1f055-5dd4-4617-a215-133bdbf33c07/0">
								אנו <b>קבוצה של מתנדבים</b>, המעוניינים <b>להתנדב במסגרת שאנו כבר מכירים ומקושרים אליה</b> (כמו, למשל, מקום בו אנו מתנדבים באופן קבוע במהלך השנה).
							</a>
						</li>
						<li>
							<a class="inner-link red yellow-hover" href="http://web.good-deeds-day.org/gdd-city-project-f/3fc1f055-5dd4-4617-a215-133bdbf33c07/0">
								<b>אנו מעוניינים לקלוט מתנדבים</b>, שיערכו אצלינו פעילות התנדבותית במהלך "יום מעשים טובים" הקרוב.
							</a>
						</li>
					</ul-->
				</div>					
			</div>			
		</div>
	</body>
</html>
