{% load helpers %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
		<link href="/static/styles/projectsearch.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com//ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--script type="text/javascript">
			$(document).ready(function () {
				$('.form li').children().focus(function () {
					$('select, input[type="text"], textarea').removeClass("active");
					$(this).addClass("active");
					$(".form li").removeClass("active");
					$(this).parent().addClass("active");
				});

				$('.form li').children().blur(function () {
					$('select, input[type="text"], input[type="password"], textarea').removeClass("active");
					$("form li").removeClass("active");
				});
			}); 
		</script-->
	</head>
	<body>		
		<div class="form">	
			<div class="title">
					<h1>ההרשמה הושלמה בהצלחה</h1>
			</div>
			<div class="inner-form">
				<p>
					תודה על פנייתך ובקשתך להתנדב! <br />
					נשמח לסייע לך למצוא את מקום ההתנדבות המתאים עבורך. <br/> 
					אחד מנציגנו ייצור עמך קשר טלפוני בימים הקרובים. <br />
				</p>
				<p>
					תודה ונשתמע בקרוב, <br />
					צוות רוח טובה
				</p>
			</div>
			<!--div class="terms">
				השירות מנוהל ומופעל על-ידי עמותת "רוח טובה" ובאחריותה - והמידע יועבר אליה. ידיעות אינטרנט לא נושאת בכל אחריות לגבי השירות והמידע שמוסרים הנרשמים 
			</div-->
		</div>
	</body>
</html>